# Archivos y carpetas de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.slnx
*.vsidx

# Binarios y compilados
bin/
obj/

# Archivos temporales
*.log
*.tmp

# Configuración local
appsettings.Development.json